<div align="center">
<h1>Proyecto Integrador Académico</h1>
<h2> Lab. Sistemas Adaptativos </h2>
<h2> Equipo GOGs </h2>
<p>Hora: Jueves M5</p>
<p>Grupo: 403</p>
<p>Salón: 9104</p>
<p>Instructor:  Dra. Sara Elena Garza</p>
</div>

ANombre | Matrícula | Carrera
-------|-----------|---------
Gabriel Oliveira Galvão do Vale | 1889469 | ITS
Alejandro Palacios Rangel | 1850453 | ITS
Alan Ernesto Rangel Ipiña | 1746118 | ITS
Jafet Zaccaro Baca | 1405000 | ITS
Gerardo Flores Mora| 1841473 | ITS|
Francisco Javier Serna López  | 1678747 | ITS

## Importe de librerías

In [2]:
import pandas as pd

In [3]:
def classify(current, future):
    if float(future) > float(current):
        return 1
    else:
        return 0

In [4]:
data = pd.read_csv('./BTC-USD.csv',names=['time', 'low', 'high', 'open', 'close', 'volume'])
data.set_index("time", inplace=True)
data = data[["close","volume"]]

In [5]:
data['future'] = data['close'].shift(-3)

In [6]:
data['target'] = list(map(classify, data['close'], data['future']))

In [7]:
data.head()

                  close    volume       future  target
time
1528968660  6489.549805  0.587100  6479.410156       0
1528968720  6487.379883  7.706374  6479.979980       0
1528968780  6479.410156  3.088252  6480.000000       1
1528968840  6479.410156  1.404100  6477.220215       0
1528968900  6479.979980  0.753000  6480.000000       1

In [8]:
datos_prueba = data[(data["future"].isna())]
datos_entrenamiento = data.dropna()